<div id="author-avatar">
  <img src="/images/avatar_author.jpg" alt="Rodrigo Vargas">
</div>

<div id="author-title">
  <h2>Rodrigo Vargas</h2>
  <h3>Full Stack Developer</h3>
</div>

<div id="sidebar-nav">
  <ul id="side-nav">
    <li id="about">
      <a href="/">
        <i class="glyphicon glyphicon-user"></i>
        About
      </a>
    </li>
    <li id="blog">
      <a href="/blog">
        <i class="glyphicon glyphicon-file"></i>
        Blog
      </a>
    </li>
    <li id="portfolio">
      <a href="/work">
        <i class="glyphicon glyphicon-briefcase"></i>
        Portfólio
      </a>
    </li>
  </ul>
</div>

<div id="social-media">
  <div class="row">
    <div class="col-xs-6">
      <a href="https://twitter.com/RodrigVargas" target="_blank"><i class="fa fa-twitter"></i></a>
    </div>
    <div class="col-xs-6">
      <a href="https://github.com/Rodrigo-Vargas" target="_blank"><i class="fa fa-github"></i></a>
    </div>
  </div>
</div>