<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>
    <div id="container-menu" class="visible-xs-block">
      <a><i class="glyphicon glyphicon-menu-hamburger"></i></a>
    </div>
    <div id="side-bar">
      {% include sidebar.html %}
    </div>
          
    <div id="content">
      {{ content }}
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.4.min.js"></script>

    <script type="text/javascript">
      window.RodrigoVg = window.RodrigoVg || {}
      RodrigoVg.registerToogleMenu = function() {
        $("#container-menu a").click(function(){
          if ($("#side-bar").hasClass("visible"))
          {
            $("#side-bar").removeClass("visible");
            $("#content").removeClass("menu-visible");
          }
          else
          {
            $("#side-bar").addClass("visible");
            $("#content").addClass("menu-visible");
          }
        });
      }

      RodrigoVg.setActiveLink = function()
      {
        if (window.location.pathname.substr(0,5) == "/work")
          $("#portfolio").addClass("active");
        else if (window.location.pathname.substr(0,5) == "/blog")
          $("#blog").addClass("active");
        else
          $("#about").addClass("active");
      }

      RodrigoVg.registerToogleMenu();
      RodrigoVg.setActiveLink();
    </script>
          
  </body>

</html>
